[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests-html = "*"
ipython = {extras = ["all"], version = "*"}
simplegmail = "*"

[requires]
python_version = "3.9"
